/* app css stylesheet */
.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}
select, textarea {
  color: #52575c;
}

.well-title {
  margin-top: 0px;
}
.session {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 0.25em;
}

/*.votingWidget {
  height: 64px;
  padding: 7px;
}*/

.votingWidget {
  height: 64px;
  padding: 7px;
  text-align: center;
  margin-left: -1em;
  margin-top: -17px;
  margin-bottom: -15px;
}

/*.votingWidget:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
*/
.votingButton {
  padding-left:3px;
  cursor:pointer;
}

.white, .white a {
  color: #fff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.blue {
  color: blue;
}